{
    "semi": true,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "jsxSingleQuote": false,
    "bracketSameLine": false,
    "plugins": ["prettier-plugin-tailwindcss"]
}
